<h3>EventForm</h3>

<EditForm Model="Event" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Nombre del Evento:</label>
        <div>
            <InputText class="form-control" @bind-Value="Event.Name" />
            <ValidationMessage For="@(() => Event.Name)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Descripción:</label>
        <div>
            <InputText class="form-control" @bind-Value="Event.Description" />
            <ValidationMessage For="@(() => Event.Description)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Fecha:</label>
        <div>
            <InputDate class="form-control" @bind-Value="Event.Date" />
            <ValidationMessage For="@(() => Event.Date)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Capacidad:</label>
        <div>
            <InputNumber class="form-control" @bind-Value="Event.Capacity" />
            <ValidationMessage For="@(() => Event.Capacity)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-success" type="button" @onclick="ReturnAction">Regresar</button>
</EditForm>

@code {
    [EditorRequired]
    [Parameter]
    public Negocio.Shared.Entities.Event Event { get; set; } = new Negocio.Shared.Entities.Event();

    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }
}
