@page "/members"
@using CurrieTechnologies.Razor.SweetAlert2
@using Negocio.Shared.Entities
@using Negocio.WEB.Repositories
@using Negocio.WEB.Shared
@inject IRepository repository
<h1>MembersIndex</h1>
<div class="mb-3">
    <a class="btn btn-primary " href="/members/create">New Member</a>
</div>
<GenericList MyList="Members">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Members</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Members!)
                {
                    <tr>
                        <td>
                            @member.Name
                        </td>
                        <td>
                            @member.Email
                        </td>
                        <td>
                            @member.PhoneNumber
                        </td>
                        <td>
                            @member.MembershipId
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>
@code {
    public List<Member> Members { get; set; }
    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repository.GetAsync<List<Member>>("/api/members");
        Members = responseHttp.Response!;
    }
} 