@using Negocio.Shared.Entities

<EditForm Model="Member" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="Member.Name" />
            <ValidationMessage For="@(() => Member.Name)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Correo Electrónico:</label>
        <div>
            <InputText class="form-control" @bind-Value="Member.Email" />
            <ValidationMessage For="@(() => Member.Email)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Numero de Telefono:</label>
        <div>
            <InputText class="form-control" @bind-Value="Member.PhoneNumber" />
            <ValidationMessage For="@(() => Member.PhoneNumber)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-success" type="button" @onclick="ReturnAction">Regresar</button>
</EditForm>

@code {
    [EditorRequired]
    [Parameter]
    public Member Member { get; set; } = default!;

    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }
}