@page "/members/edit/{Id:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>MemberEdit</h3>

@if (MemberModel is null)
{
    <p>Cargando...</p>
}
else
{
    <MemberForm @ref="MemberForm" Member="MemberModel" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Member MemberModel;
    private MemberForm MemberForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.GetAsync<Member>($"api/members/{Id}");
        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("members");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            MemberModel = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.PutAsync("api/members", MemberModel);
        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            MemberForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("membersModel");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("membersModel");
    }
}
