@page "/memberships/create"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Membresía</h3>

<MembershipsForm Membership="currentMembership" OnSubmit="Create" ReturnAction="Return" />

@code {
    private Membership currentMembership = new();

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/memberships", currentMembership);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, "error");
            return;
        }

        await sweetAlertService.FireAsync("Éxito", "Membresía creada correctamente", "success");
        navigationManager.NavigateTo("/memberships");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/memberships");
    }
}
