<h3>MembershipForm</h3>

<EditForm Model="Membership" OnSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Nivel del Miembro:</label>
        <div>
            <InputText class="form-control" @bind-Value="Membership.Level" />
            <ValidationMessage For="@(() => Membership.Level)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Privilegios:</label>
        <div>
            <InputText class="form-control" @bind-Value="Membership.Privileges" />
            <ValidationMessage For="@(() => Membership.Privileges)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>

@code {
    [EditorRequired]
    [Parameter]
    public Negocio.Shared.Entities.Membership Membership { get; set; } = new Negocio.Shared.Entities.Membership();

    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }
}
