@page "/memberships/edit/{Id:int}"

@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar Membresía</h3>

@if (currentMembership is null)
{
    <p>Cargando...</p>
}
else
{
    <MembershipsForm Membership="currentMembership" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Membership currentMembership;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.GetAsync<Membership>($"api/memberships/{Id}");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, "error");
            navigationManager.NavigateTo("/memberships");
            return;
        }

        currentMembership = responseHttp.Response;
    }

    private async Task Edit()
    {
        var responseHttp = await repository.PutAsync("/api/memberships", currentMembership);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, "error");
            return;
        }

        await sweetAlertService.FireAsync("Éxito", "Membresía actualizada correctamente", "success");
        navigationManager.NavigateTo("/memberships");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/memberships");
    }
}
