@page "/resources/create"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Recurso</h3>

<ResourcesForm Resource="currentResource" OnSubmit="Create" ReturnAction="Return" />

@code {
    private Resource currentResource = new();

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/resources", currentResource);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, "error");
            return;
        }

        await sweetAlertService.FireAsync("Éxito", "Recurso creado correctamente", "success");
        navigationManager.NavigateTo("/resources");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/resources");
    }
}
