@page "/reservations/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
<h3>Reservation  Create</h3>

<ReservationForm @ref="reservationForm" Reservation="reservation" OnSubmit="Create" ReturnAction="Return" />



@code {
    private Reservation reservation = new();
    private ReservationForm reservationForm;



    private async Task Create()
    {

        var responseHttp = await repository.PostAsync("/api/reservations", reservation);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        navigationManager.NavigateTo("/Reservations");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Reservations");
    }
}