@page "/workspaces/create"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Espacio de Trabajo</h3>

<WorkspacesForm Workspace="currentWorkspace" OnSubmit="Create" ReturnAction="Return" />

@code {
    private Workspace currentWorkspace = new();

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/workspaces", currentWorkspace);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, "error");
            return;
        }

        await sweetAlertService.FireAsync("Éxito", "Espacio de trabajo creado correctamente", "success");
        navigationManager.NavigateTo("/workspaces");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/workspaces");
    }
}
