@page "/workspaces/edit/{Id:int}"

@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar Espacio de Trabajo</h3>

@if (currentWorkspace is null)
{
    <p>Cargando...</p>
}
else
{
    <WorkspacesForm Workspace="currentWorkspace" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Workspace currentWorkspace;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.GetAsync<Workspace>($"api/workspaces/{Id}");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, "error");
            navigationManager.NavigateTo("/workspaces");
            return;
        }

        currentWorkspace = responseHttp.Response;
    }

    private async Task Edit()
    {
        var responseHttp = await repository.PutAsync("/api/workspaces", currentWorkspace);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, "error");
            return;
        }

        await sweetAlertService.FireAsync("Éxito", "Espacio de trabajo actualizado correctamente", "success");
        navigationManager.NavigateTo("/workspaces");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/workspaces");
    }
}
